<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Yelpcamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="#">Home</a>
                <a class="nav-link" href="/campground">campground</a>
                <a class="nav-link" href="/campground/new">new campground</a>
  
            </div>

            <div class="navbar-nav ml-auto">
                <a href="/login" class="nav-link">LOGIN</a>
                <a href="/register" class="nav-link">REGISTER</a>
                <a href="/logout" class="nav-link">LOGOUT</a>

            </div>

        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">YELP-CAMP</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link " href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campground">CAMPGROUND</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campground/new">NEW CAMPGROUND</a>

                </li>
            </ul>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser){ %>
                    <a href="/login" class="nav-link">LOGIN</a>
                    <a href="/register" class="nav-link">REGISTER</a>
                    <% }else{ %>
                        <a href="/logout" class="nav-link">LOGOUT</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>