<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="\home.css">
</head>
<body>
    <header id="header">
        
        <a href="#" class="logo">Camp-Alpha </a>
        <ul>
          <li><a href="#" class="active">Home</a></li>
          <li><a href="/campground">Campgrounds</a></li>
          <% if(!currentUser) { %>
          <li>  <a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <% } else { %>
            <li> <a  href="/logout">Logout</a></li>
            <% } %>
        </ul>
      </header>
      
      <section>
        <h2 id="text"><span>It's time for a new</span><br>Adventure</h2>
        
        <img src="/bird1.png" alt="bird1" id="bird1">
        
        <img src="bird2.png" alt="bird2" id="bird2">
        
        <img src="forest.png" alt="forest" id="forest">
        
        <a href="/campground" id="btn">Explore</a>
        
        <img src="\rocks.png" alt="rocks" id="rocks">
        
        <img src="water.png" alt="water" id="water">
        
      </section>
      <div class="sec">
        <h2>Parallax scrolling effect</h2>
        <p><br><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ornare massa. Phasellus eu molestie mi. Aliquam erat volutpat. Nam venenatis, ipsum ut dignissim placerat, augue erat mollis dui, ut faucibus orci ipsum sed sem. Ut in ex vel nulla tincidunt scelerisque. Vivamus viverra bibendum lobortis. Sed semper tincidunt sollicitudin.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ornare massa. Phasellus eu molestie mi. Aliquam erat volutpat. Nam venenatis, ipsum ut dignissim placerat, augue erat mollis dui, ut faucibus orci ipsum sed sem. Ut in ex vel nulla tincidunt scelerisque. Vivamus viverra bibendum lobortis. Sed semper tincidunt sollicitudin.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ornare massa. Phasellus eu molestie mi. Aliquam erat volutpat. Nam venenatis, ipsum ut dignissim placerat, augue erat mollis dui, ut faucibus orci ipsum sed sem. Ut in ex vel nulla tincidunt scelerisque. Vivamus viverra bibendum lobortis. Sed semper tincidunt sollicitudin.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ornare massa. Phasellus eu molestie mi. Aliquam erat volutpat. Nam venenatis, ipsum ut dignissim placerat, augue erat mollis dui, ut faucibus orci ipsum sed sem. Ut in ex vel nulla tincidunt scelerisque. Vivamus viverra bibendum lobortis. Sed semper tincidunt sollicitudin.
      <br><br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae ornare massa. Phasellus eu molestie mi. Aliquam erat volutpat. Nam venenatis, ipsum ut dignissim placerat, augue erat mollis dui, ut faucibus orci ipsum sed sem. Ut in ex vel nulla tincidunt scelerisque. Vivamus viverra bibendum lobortis. Sed semper tincidunt sollicitudin.</p>
      </div>

    <script src="index.js"></script>
</body>
</html>